{{page-title "CyberTomatoSoft"}}

<img src="/assets/images/CTS.jpg" />

<p>
interactive video experiences games entertainment
enough triangles to satisfy any hardcore gamer
</p>

join the <a href="https://discord.gg/bkNFZjgPBN">discord</a> for updates and fun burger chat

{{outlet}}