{{page-title "CyberTomatoSoft"}}

<div class="content">
  <img src="/assets/images/CTS.jpg" />

  <h1>
  welcome to the homepage of <i>cyber tomato soft</i>...
  </h1>

  <p>
  interactive video experiences games entertainment
  enough triangles to satisfy any hardcore gamer
  </p>

  <h2>getting social</h2>
  <ul>
    <li>
      <a href="https://twitter.com/burgerzoneing">x.com the everything app</a>
    </li>
    <li>
      <a href="https://bsky.app/profile/cybertomatosoft.bsky.social">blu sky</a>
    </li>
    <li>
      <a href="https://www.youtube.com/@mcfiredrill">u toob</a>
    </li>
  </ul>

  <p>
  join the <a href="https://discord.gg/bkNFZjgPBN">discord</a> for updates and fun burger chat
  </p>

  <MailingListForm />

  <h2>{{t "announce"}}</h2>

  <p>
    BURGERZONE: DELUXE MEAL will have a playable demo at the <a href="https://www.retrogamingexpo.com/">Portland Retro Gaming Expo 2025</a>, under the <a href="https://pigsquad.com/events-list/pigsquadprge2025">Portland Indie Game Squad</a> booth!
  </p>
  <p>
    <img src="/assets/images/pigsquad_retrolaurels_2025backdrop.webp" style="height: 24rem;" />
  </p>

  <p>
    <img src="/assets/images/main_capsule.png" style="height: 24rem;" />
  </p>
  <p>
    <strong>BURGERZONE: DELUXE MEAL</strong> is under <i>heavy</i> development.
  </p>
  <p>
    <h1>Think there are enough goofy cartoon indie platformers already out there? THINK AGAIN</h1>
  </p>
  <p>
    <h1>MIND BLOWING PRE-RENDERED 3D GRAPHICS</h1>
  </p>
  <p>
    <img src="/assets/images/burger_wireframe.gif" />
  </p>
  <p>
    <img src="/assets/images/fries_wireframe.gif" />
  </p>
  <p>
    <h1>TOTALLY ADVANCED SAMPLE BASED ROCK N ROLL BURGER MUSIC</h1>
  </p>
  <p>
    <h1>UNCANNY KINETIC PLATFORMING AND LEVEL DESIGN</h1>
  </p>
  <p>
    <h1>POWERUPS AND TRANSFORMS</h1>
  </p>
  <p>
    <h1>DISGUSTING BOSSES</h1>
  </p>
  <p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zCk_d9oVSdM?si=tKxiDzq0_MVT8zUN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </p>
</div>