{{page-title "CyberTomatoSoft"}}

<img src="/assets/images/CTS.jpg" />

<h1>
welcome to the homepage of <i>cyber tomato soft</i>...
</h1>

<p>
interactive video experiences games entertainment
enough triangles to satisfy any hardcore gamer
</p>

<h2>getting social</h2>
<ul>
  <a href="">ex.com the everything app</a>
  <a href="">blu sky</a>
  <a href="">u toob</a>
</ul>

<p>
join the <a href="https://discord.gg/bkNFZjgPBN">discord</a> for updates and fun burger chat
</p>

<h2>ANNOUNCEMENTS</h2>

<p>
  <img src="/assets/images/burger_zone_capsule.png" />
</p>
<p>
  <strong>BURGERZONE: DELUXE MEAL</strong> is under <i>heavy</i> development.
</p>
<p>
  wishlist it on steam PLZ
</p>


{{outlet}}